[class^=container] {
  height: 100%;
}

.container,
.container-fluid {
  container-type: inline-size;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  transition: all 0.3s ease-in-out;
}

.container-fluid {
  max-width: 100%;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  /* margin: 0 -15px; */
}

/***** Custom Classes *****/
.nowrap {
  flex-wrap: nowrap;
}

.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.align-items-center {
  align-items: center;
}

.align-items-stretch {
  align-items: stretch;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.absolute {
  position: absolute;
}

.flex-auto {
  flex: auto;
}

.border-0 {
  border-color: transparent !important;
}

.br-circle {
  border-radius: 50%;
  overflow: hidden;
}

.d-none {
  display: none;
}

/***** End Custom Classes *****/
/***** Grid *****/
[class^=col-] {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

@media screen and (width < 576px) {
  .container {
    max-width: auto;
  }
  .col-1 {
    width: 8.3333333333%;
  }
  .col-2 {
    width: 16.6666666667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.3333333333%;
  }
  .col-5 {
    width: 41.6666666667%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.3333333333%;
  }
  .col-8 {
    width: 66.6666666667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.3333333333%;
  }
  .col-11 {
    width: 91.6666666667%;
  }
  .col-12 {
    width: 100%;
  }
}
@media screen and (width >= 576px) {
  .container {
    max-width: 540px;
  }
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media screen and (width >= 768px) {
  .container {
    max-width: 720px;
  }
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media screen and (width >= 992px) {
  .container {
    max-width: 960px;
  }
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media screen and (width >= 1200px) {
  .container {
    max-width: 1140px;
  }
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
@media screen and (width >= 1400px) {
  .container {
    max-width: 1320px;
  }
  .col-xxl-1 {
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 100%;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol,
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body,
html {
  line-height: 1.5;
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

span {
  padding: 0;
  display: inline-block;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

span {
  display: inline-block;
}

img,
svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

select,
button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

input,
textarea {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

input::placeholder {
  color: inherit;
}

label {
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

section {
  padding-top: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

h1 {
  font-size: 72px;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

#banner {
  color: white;
}
#banner h1 {
  width: 760px;
  font-weight: 700;
}
#banner form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
  width: 100%;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  padding: 0.5rem 1rem;
}
#banner form .form-item {
  padding: 12px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  color: rgba(255, 255, 255, 0.7);
}
#banner form .form-item .search-input {
  color: inherit;
}
#banner form .form-item:hover {
  color: #fff;
}
#banner form .form-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header nav {
  color: rgb(255, 255, 255);
}
header nav .logo {
  display: grid;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
  height: 85px;
}
header nav .nav-lists {
  opacity: 0.7;
}
header nav .nav-lists .nav-list--signup {
  font-weight: 600;
}
header nav .nav-lists .nav-list a {
  border: 1px solid transparent;
  padding: 0.5rem;
}
header nav .nav-lists .nav-list a:hover {
  border-color: inherit;
}

.bgImg {
  position: absolute;
  inset: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: start;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.bgImg::before {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 13.647%), rgba(0, 0, 0, 0.3);
}

.btn {
  padding: 12px 32px;
  border-radius: 2rem;
  font-weight: 600;
}
.btn--white {
  background-color: white;
  color: rgb(38, 89, 195);
}
.btn--blue {
  background-color: rgb(38, 89, 195);
  color: white;
}

/*# sourceMappingURL=style.css.map */
